<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.antoine.go4lunch">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Go4LunchTheme">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <service
            android:name=".data.notifications.NotificationsService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity
            android:name=".controlers.activity.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName=".controlers.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controlers.activity.SettingsActivity"
            android:label="@string/android_label"
            android:parentActivityName=".controlers.activity.MainActivity"
            android:theme="@style/Go4LunchSettings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.antoine.go4lunch.controlers.activity.MainActivity" />
        </activity>
        <activity
            android:name=".controlers.activity.InfoPageRestaurantActivity"
            android:label="@string/android_label"
            android:theme="@style/Go4LunchStatusBarTranslucent">
        </activity>
        <activity
            android:name=".controlers.activity.StarterActivity"
            android:label="@string/android_label"
            android:theme="@style/Go4LunchStatusBarTranslucent">
        </activity>
    </application>
</manifest>